@import "./reset.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 258px;
  padding: 10px;
  background-color: lavender;
  height: 100vh;
}

.sidebar nav {
  overflow: auto;
}

.contentPage {
  background-color: #dedae3;
  width: 80%;
  height: 100vh;
  overflow: auto;
}

.editor {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.editor-title {
  width: 100%;
  height: 58px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 32px;
  padding: 10px 7px;
}

.editor-content {
  width: 100%;
  height: 600px;
  box-sizing: border-box;
  padding: 8px;
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 4px;
}

.title {
  display: flex;
}

.not__show {
  display: none;
}

.create-action {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item-actions {
  display: flex;
}

.item-title {
  height: 26px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.text {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.header {
  height: 27px;
  font-size: 17px;
  font-weight: 600;
}

.create-actions-box {
  padding-top: 20px;
}

.arrow__btn,
.add__btn,
.del__btn {
  cursor: pointer;
}

.arrow__btn.noRotated {
  transition: all ease 0.5s;
}

.noRotated:active {
  transform: rotate(90deg);
}

.arrow__btn.rotated {
  transform: rotate(90deg);
  transition: all ease 0.5s;
}

.rotated:active {
  transform: rotate(-90deg);
}
